/*TABLA 1*/
.mi_tabla{
	margin: auto;
	padding: 0px;
	font: normal 0.9em tahoma, arial, sans-serif;
	line-height: 1.4em;
	border-collapse: collapse;
	border: 4px solid #ADBBCA;
	color: #4F6480;
	background: #F0F0F0;
}

.cab_tabla{
	color: #fff;
	background: #5E7796;
	padding: 4px 8px 4px 8px;
	border: 4px solid #ADBBCA;
}

.tr_par	{
	background: #E9ECEE;
	border: 4px solid #ADBBCA;
}

.tr_impar	{
	background: #F0F0F0;
	border: 4px solid #ADBBCA;
}
		
.tr_par:hover	{
	background: #fff;
}

.tr_impar:hover	{
	background: #fff;
}

/*TABLA 2*/

.tabla2{
	margin: auto;
	padding: 0px;
	font: normal 0.9em tahoma, arial, sans-serif;
	border-collapse: collapse;
	border: 1px solid #ADBBCA;
	color: #4F6480;
}
