/*TABLA 1*/
.mi_tabla{
	margin: auto;
	padding: 0px;
	font: normal 0.9em tahoma, arial, sans-serif;
	line-height: 1.4em;
	border-collapse: collapse;
	border: 1px solid white;
	color: white;
	background: #F0F0F0;
}

.cab_tabla{
	color: #fff;
	background: #5E7796;
	padding: 4px 8px 4px 8px;
	border: 1px solid #white;
}

.tr_par	{
	padding-left: 5px;
	background: grey;
	border: 1px solid white;
}

.tr_impar	{
	padding-left: 5px;
	background: grey;
	border: 1px solid white;
}
		
.tr_par:hover	{
	background: black;
}

.tr_impar:hover	{
	background: black;
}

/*TABLA 2*/

.tabla2{
	margin: auto;
	padding: 0px;
	font: normal 0.9em tahoma, arial, sans-serif;
	border-collapse: collapse;
	border: 1px solid white;
	color: white;
}
