body{
	background-color: black;
	background-image: url('img/fondo.gif');
	background-repeat: repeat-x;
	text-align: center;
	
}

#container{
	padding: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	background-color: transparent;
	width: 90%;
}

#header{
	visibility: hidden;
}

#content{
	
	
}

#navigation{
	float: left;
	margin:0;
	width:25%;
	padding:5px;
	font: normal 0.9em tahoma, arial, sans-serif;
	color: white;
	background-color: #3b3b3b;
}

#navigation ul{
	list-style-type:none;
	margin-left: 0px;
	padding:0px;
	text-align:left;
}

#navigation ul li {
	border-width: 1px;
	border: 2px, solid white;
	margin-right: 5px;
	padding: 5px;
}

#body{
	padding: 20px;
	margin-left:28%;
	text-align: justify;
	font: normal 0.8em tahoma, arial, sans-serif;
	color: white;
	background-color: #3b3b3b;
}

#footer{
	padding: 10px;
	margin-top: 20px;
	margin-left:28%;
	text-align: center;
	font: normal 0.9em tahoma, arial, sans-serif;
	color: white;
	background:#3B3B3B url(img/com_br_odd.gif) no-repeat scroll right bottom;
}

.center{
	text-align: left;
	margin: 0 auto;
	width: 200px;
}

input, select{
        margin-bottom:3px;
        border: 2px solid grey;
        padding:3px;
        font-family: tahoma, arial, sans-serif;
        color: black;
        font-size: 10px;
        font-weight:bold;
        text-Decoration: none;
}

input:hover {
	background-color:white;
} 

.imagen{
	border: 0;
}

a {
	text-Decoration: none;
	color: white;
	font-weight:bold;
}

a:hover {
	/*color: #3b3b3b;*/
	Text-Decoration: underline;
	font-weight:bold;
}
