body{
	background-color: white;
	background-image: url('img/fondo.png');
	background-repeat: repeat-x;
	background-attachment: fixed;
	
}

#container{
	border-collapse: separate;
	border-spacing: 8px;
	border-width: 1px;
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	width: 70%;
}

#header{}



#content{
	text-align: justify;
	padding: 20px;
	font: normal 0.8em tahoma, arial, sans-serif;
	color: #1b9fe3;
}

#navigation{
	margin: 0;
	/*background-color: red;*/
	height: 30px;
	padding:0;
	font: normal 0.9em tahoma, arial, sans-serif;
	color: #1b9fe3;
}

#navigation ul{
	list-style-type:none;
	padding:0px;
	text-align:center;
}

#navigation ul li {
	display:inline;
	border-style: dashed;
	border-width: 1px;
	margin-right: 5px;
	padding: 0px 10px 0px 10px;
}
#body {
	margin-top: 25px;
}
#footer{
	background-color: #1b9fe3;
	color: white;
	text-align: center;
	font: normal 0.9em tahoma, arial, sans-serif;
}

.center{
	text-align: left;
	margin: 0 auto;
	width: 200px;
}

input, select{
        margin-bottom:3px;
        border: 1px solid #1b9fe3;
        padding:3px;
        font-family: tahoma, arial, sans-serif;
        color: #1b9fe3;
        font-size: 10px;
        font-weight:bold;
        text-Decoration: none;
}

input:hover {
	background-color:white;
} 

.imagen{
	border: 0;
}

a {
	text-Decoration: none;
	color: #1b9fe3;
	font-weight:bold;
}
